# SQL Code Challenge

In [ ]:
import sqlite3

# Create an in-memory SQLite database
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

# Step 1: Create the Employees table
create_employees_table_query = """
CREATE TABLE Employees (
    EmployeeID INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL,
    DepartmentID INTEGER,
    Position TEXT NOT NULL,
    Salary REAL
);
"""
cursor.execute(create_employees_table_query)

# Step 2: Create the Departments table
create_departments_table_query = """
CREATE TABLE Departments (
    DepartmentID INTEGER PRIMARY KEY AUTOINCREMENT,
    DepartmentName TEXT NOT NULL
);
"""
cursor.execute(create_departments_table_query)

# Step 3: Insert data into Employees table
insert_employees_data_query = """
INSERT INTO Employees (Name, DepartmentID, Position, Salary)
VALUES
    ('John Doe', 1, 'Manager', 60000.00),
    ('Jane Smith', 2, 'Analyst', 50000.00),
    ('Alice Johnson', 1, 'Developer', 55000.00),
    ('Bob Brown', 3, 'Developer', 48000.00),
    ('Charlie Davis', 2, 'Analyst', 53000.00);
"""
cursor.execute(insert_employees_data_query)

# Step 4: Insert data into Departments table
insert_departments_data_query = """
INSERT INTO Departments (DepartmentName)
VALUES
    ('HR'),
    ('Finance'),
    ('IT');
"""
cursor.execute(insert_departments_data_query)

# Commit the changes
connection.commit()

In [ ]:
# Write a query to find all employees in the IT department who earn more than $45,000

query = """

"""
cursor.execute(query)
results = cursor.fetchall()

print("IT employees earning more than $45,000:")
for row in results:
    print(row)

# Query Optimization with pandas
Problem:
You have a dataset representing orders. Write a Python script using pandas to find the top 5 customers who have spent the most money in the last year.

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

# Sample data with fixed dates within the last year
data = {
    'order_id': [1, 2, 3, 4, 5, 6,7,8,9,10],
    'product_id': [101, 102, 103, 104, 105, 106,107,108,109,110],
    'customer_id': [10, 11, 11, 13, 14, 15,16,17,18,18],
    'quantity': [5, 3, 2, 4, 6, 1,2,3,4,5],
    'order_date': ['2023-06-01', '2023-02-20', '2023-03-10', '2023-04-18', '2023-05-25', '2023-06-01','2024-06-01', '2024-02-20', '2024-03-10', '2024-04-18'],
    'total_amount': [250.00, 150.00, 300.00, 100.00, 200.00, 350.00,450.00, 950.00, 800.00, 1000.00]
}

# Create DataFrame

In [ ]:
# Convert order_date to datetime and validate new datatype

In [ ]:
# Check if DataFrame is empty otherwise Group by customer_id and calculate total_spent and Sort by total_spent in descending order and get top 5 customers please Display results

# Join with pandas
Problem:
Given two datasets representing employees and departments, write a Python script to find the number of employees in each department using pandas.

In [ ]:
# Sample data for employees
employees_data = {
    'employee_id': [1, 2, 3, 4, 5],
    'employee_name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'department_id': [10, 20, 10, 30, 20]
}

# Sample data for departments
departments_data = {
    'department_id': [10, 20, 30],
    'department_name': ['HR', 'Engineering', 'Marketing']
}

# Create DataFrames


# Perform left join


# Group by department_name and count employees


# Display results

# Python Challenge 1: Data Transformation
Problem:
Transform a list of dictionaries representing employees into a dictionary where the keys are department names and the values are lists of employee names.

In [ ]:
employees = [
    {"name": "Alice", "age": 30, "department": "HR"},
    {"name": "Bob", "age": 24, "department": "Engineering"},
    {"name": "Charlie", "age": 29, "department": "Marketing"}
]

# Hint : Definition of transform_employees function: {'HR': ['Alice'], 'Engineering': ['Bob'], 'Marketing': ['Charlie']}
# This function takes a list of employee dictionaries as input (employees) and transforms it into a dictionary where the keys are department names and the values are lists of employee names belonging to those departments.



# Example usage:

# Python Challenge 2: ETL Process Simulation
Problem:
Simulate a simple ETL process using a CSV file. Extract data, filter rows where the "age" column is greater than 25, and save the transformed data to a new CSV file.

Solution:

In [ ]:
import pandas as pd

# Sample data for the example
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'age': [30, 24, 29, 22, 35]
}

# Create DataFrame and save to CSV



    # Extract


    # Transform


    # Load


# Example usage:


# Display the output CSV content

# Airflow Challenge 1: Simple DAG Creation
Problem:
Create an Airflow DAG that runs a Python function print_hello every day at 8 AM.

In [ ]:
# First, ensure you have the necessary packages installed in Colab
#!pip install apache-airflow


from airflow import DAG
from airflow.operators.python_operator import PythonOperator
from datetime import datetime

# Airflow Challenge 2: ETL Pipeline DAG
Problem:
Create an Airflow DAG to simulate a simple ETL pipeline with three tasks: Extract, Transform, and Load.

In [ ]:
# First, ensure you have the necessary packages installed in Colab
#!pip install apache-airflow

from airflow import DAG
from airflow.operators.python_operator import PythonOperator
from datetime import datetime

Create a simple Flask API that allows you to:
Get a list of users.
Add a new user to the list.

#Build and Run a Basic API

Create a simple API that allows you to:
Get London weather.

In [ ]:
import requests
import json  # Import json to format the output

# Replace with your own API key
api_key = '95e5cce817824786182c1c111bf4ff3b'
city = 'London'
url = f'http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}'

response = #use get function from request library (dont forget the url argument)

#checks if the API request was successful (status code 200), and if so, it stores the response data in JSON format and prints it in a readable way; otherwise, it prints an error message with the status code.



    # Pretty-print the JSON response with indentation
    # Indent the JSON data with 4 spaces for readability

{
    "coord": {
        "lon": -0.1257,
        "lat": 51.5085
    },
    "weather": [
        {
            "id": 804,
            "main": "Clouds",
            "description": "overcast clouds",
            "icon": "04n"
        }
    ],
    "base": "stations",
    "main": {
        "temp": 286.45,
        "feels_like": 286.21,
        "temp_min": 285.38,
        "temp_max": 287.01,
        "pressure": 1007,
        "humidity": 91,
        "sea_level": 1007,
        "grnd_level": 1002
    },
    "visibility": 10000,
    "wind": {
        "speed": 4.63,
        "deg": 300
    },
    "clouds": {
        "all": 100
    },
    "dt": 1727822832,
    "sys": {
        "type": 2,
        "id": 2075535,
        "country": "GB",
        "sunrise": 1727762491,
        "sunset": 1727804306
    },
    "timezone": 3600,
    "id": 2643743,
    "name": "London",
    "cod": 200
}